*{
    padding:0;
    margin:0;
    font-family: 'Kanit', sans-serif;
    text-decoration:none;
    scroll-behavior:smooth;
    box-sizing: border-box;
}
html{
    overflow:scroll;
}
body{
    background-image:linear-gradient(rgb(8, 7, 7),rgb(6, 6, 19));
}
nav{
    float:right;
}
ul{
    display:flex;
}
li{
    list-style-type:none;
    margin: 5px;
}
li a:active{
    background-color:gold;
#open{
   display:none; 
}
.topnav{
    overflow: hidden;
    background-color: #2e1d0a;
    position:sticky;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover{
    background-color:rgb(85, 5, 54)
  }
  .topnav a.active{
    background-color:rgb(79, 7, 138);
  }

span{
    color:hsl(305, 73%, 50%);
    font-weight:bold;
    font-family: 'Sedgwick Ave Display', cursive;
}
.col p{
    font-size:12px;
    font-weight:bold;
    display:none;
}
@media screen and(max-width:450px){
    #open{
   display:block; 
}
    .topnav a{
        margin:5px;
    }
}
.col{
    border:solid 1px;
    margin:10px;
    height:fit-content; 
    transition:.5s ease;
    
}
.navbar-brand{
    color:rgb(182, 32, 115);
    font-size:2rem;
    font-family: 'Rubik Spray Paint', cursive;
}
.col p{
    font-size:12px;
    font-weight:bold;
    display:none;
}
.col img{
    height:300px;
}
.col img:hover{
    opacity:0.5;
}
.col:hover{
    transform: scale(1.1);
    
   
}

#trailer{
background-image:linear-gradient(black,rgb(59, 5, 5));
}
#trailer:hover{
    background-image:linear-gradient(to bottom left ,rgb(235, 9, 216),rgb(139, 14, 14));
    }
a{
    color:white;
    text-decoration:none;
}
 h1{
color:rgb(128, 7, 7);
    font-weight:bold;
    font-family: 'Sedgwick Ave Display', cursive;
}
.row::after {
    content: "";
    clear: both;
    display: block;
  }
  .nav-links {
    display: none;
  }
  
  .nav-active .nav-links {
    display: block;
  }
#menu{
    display:block;
    font-size:2rem;
}  

@media screen and (max-width:700px){
.row{
    display:block;
    
}
[class*="col"] {
    width: 100%;
    height:px;
    display:block;
  }
    .col img{
        width:100%;
        
    }
    .col p{
        display:block;
    }
    nav{
        width:100%;
        display:block;
        flex-direction:column;
        position: sticky;
    }
    #menu{
        display:block;
        float: right;
        font-size:1.5rem;
        
    }
   
   
}
#series{
margin:10px;

}
carousel{
    transition:10s ;
}

.movie-layer{
    background-color: #2e1d0a;
    display:block;
}
#menu{
    color:white;
    position: absolute;
    width:4rem;
}

video{
    width:250px;
    display:block;
    height:100%;
    overflow: hidden;
}
#play{
    align-items:center;
    width:100px;
    font-size:3rem;
    display:block;
    position:absolute;
   padding:5.5rem;
   position:fixed;
}
#play:hover{
color:rgb(21, 212, 68);
font-size:3rem;
}
@media screen and(max-width:560px){
    #play{
        width:100px;
        font-size:1rem;
        display:none;
        position:absolute;
       padding:5.5rem;
       position:fixed;
    }
    #play:hover{
        color:rgb(2, 212, 68);
        font-size:0.7rem;
        display:none;
        }
    
}
