*{
    padding:0;
    margin:0;
    font-family: 'Kanit', sans-serif;
    text-decoration:none;
    scroll-behavior:smooth;
    box-sizing: border-box;
}
html{
    overflow:scroll;
}
body{
    background-image:linear-gradient(rgb(20, 20, 20),rgb(6, 6, 19));
}
nav{
    display:block;
}
li{
    list-style-type: none;
}
ul li{
    margin:10px;

}
ul li a{
    color:aquamarine
}
ul li a:hover{
color:#ff8800
}
span{
    color:rgb(47, 161, 255)
}

.col{
    border:solid 1px;
    margin:10px;
    height:fit-content; 
    transition:.5s ease;
    
}
.col p{
    font-size:12px;
    font-weight:bold;
}
.col img{
    height:350px;
}
.col:hover{
    transform: scale(1.1);
   
}

#trailer{
background-image:linear-gradient(black,rgb(59, 5, 5));
}
#trailer:hover{
    background-image:linear-gradient(to bottom left ,rgb(235, 9, 216),rgb(139, 14, 14));
    }
a{
    color:white;
    text-decoration:none;
}
 h1{
color:rgb(238, 23, 23);
    font-weight:bold;
}
.row::after {
    content: "";
    clear: both;
    display: block;
  }
  .nav-links {
    display: none;
  }
  
  .nav-active .nav-links {
    display: block;
  }
#menu{
    display:block;
    font-size:2rem;
}  

@media screen and (max-width:700px){
.row{
    display:grid;
    
}
[class*="col"] {
    width: 100%;
    height:px;
    display:block;
  }
    .col img{
        width:100%;
        
    }
    .col p{
        display:block;
    }
    nav{
        width:100%;
        display:block;
        flex-direction:column;
        position: sticky;
    }
    #menu{
        display:block;
        float: right;
        font-size:1.5rem;
    }
   
   
}
#series{
margin:10px;

}
carousel{
    transition:10s ;
}

.movie-layer{
    background-color: #2e1d0a;
    display:block;
}
#menu{
    color:white;
    position: fixed;
    width:4rem;
}

video{
    width:250px;
    display:block;
    height:100%;
    overflow: hidden;
}
#play{
    width:100px;
    font-size:3rem;
    display:block;
    position:absolute;
   padding:5.5rem;
   position:fixed;
}
#play:hover{
color:rgb(212, 7, 68);
font-size:4rem;
}
@media screen and(max-width:560px){
    #play{
        width:100px;
        font-size:1rem;
        display:none;
        position:absolute;
       padding:6.5rem;
       position:fixed;
    }
    #play:hover{
        color:rgb(212, 7, 68);
        font-size:1rem;
        display:none;
        }
    
}
